mat-nav-list{
  float:left;
  margin-top: 2em;
}
mat-list-item{
  margin-bottom: 0.5em;
}
mat-card{
  float: left;
  width: 10.5em;
}
p{
  margin-bottom: 0.5em;
  margin-top: 0;
}
.header{
  font-weight: bold;
}
.extendedWeather{
  float: right;
  width: 54em;
  margin-top: 0.5em;
  margin-right: 0.5em;
}
.currentData{
  margin-left: 1em;
}
.currentWeather{
  float:left;
  margin-top: 2em;
}
.wind{
  margin-top: 5em;
}

.imgWeather{
  font-size: 10em;
}
.extWeather{
  float:right;
}
.mat-button{
  height: 3em;
  width: 15em;
  background: lightblue;
}
.temp{
  float: right;
}
.nameCity{
  float: left;
}
.toolbar{
  background: #2a0082;
  color: #fbe506;
}
