<mat-toolbar class='toolbar' color='primary'>
  <h1 class='header'>Weather in Liechtenstein</h1>
</mat-toolbar>

<mat-nav-list>
  <mat-list-item *ngFor="let city of cityes">
     <button mat-button id='{{city.id}}' (click)='extWeather($event)'>
        <div class='nameCity'>{{city.name}}</div>
        <div class='temp'>{{city.main.temp}}&deg;C</div>
     </button>
  </mat-list-item>
</mat-nav-list>

<div class='currentWeather'>
  <h3>{{this.extendedWeather.nameCity}}</h3>
  <div class='currentData'>
    <div>
      <h4>{{this.extendedWeather.main}}</h4>
      <img style='float: left;' src="{{this.extendedWeather.icon}}" >
      <p style='float: left;'>{{this.extendedWeather.description}}</p>
    </div>
    <div class='wind'>
      <h4>{{this.extendedWeather.headerWind}}</h4>
      <p>{{this.extendedWeather.windSpeed}}</p>
    </div>
  </div>
</div>

<div class='extendedWeather'>
  <mat-card *ngFor='let day of dayWeather'>
    <p>{{day.dt_txt}}</p>
    <p class='header'>{{this.extendedWeather.nHeaderTemp}}</p>
    <p>{{this.extendedWeather.nTemp}}{{day.main.temp}}&deg;C</p>
    <p>{{this.extendedWeather.nTempMax}}{{day.main.temp_max}}&deg;C</p>
    <p>{{this.extendedWeather.nTempMin}}{{day.main.temp_min}}&deg;C</p>
    <p>{{this.extendedWeather.nHeaderHum}}{{day.main.humidity}}{{this.extendedWeather.nHumidity}}</p>
    <p>{{this.extendedWeather.nHeaderGrnd}}</p>
    <p>{{day.main.grnd_level}}{{this.extendedWeather.nGrndLvl}}</p>
    <p>{{this.extendedWeather.nHeaderSea}}</p>
    <p>{{day.main.sea_level}}{{this.extendedWeather.nSeaLvl}}</p>
    <p>{{this.extendedWeather.nHeaderWtDesc}}</p>
    <p>{{day.weather[0].description}}</p>
    <p>{{this.extendedWeather.nHeaderWtSpeed}}</p><p>{{day.wind.speed}}{{this.extendedWeather.nWiSpeed}}</p>


  </mat-card>
</div>
